{{- if .Values.web.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "laravel.fullname" . }}-web
  labels:
    {{- include "laravel.deployment.labels" (dict "root" . "component" "web") | nindent 4 }}
  {{- with .Values.web.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.web.service.type }}
  ports:
    - port: {{ .Values.web.service.port }}
      targetPort: {{ .Values.web.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "laravel.deployment.selectorLabels" (dict "root" . "component" "web") | nindent 4 }}
{{- end }}
