{{- if .Values.web.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "laravel.fullname" . }}-web
  labels:
    {{- include "laravel.web.labels" . | nindent 4 }}
spec:
  {{- if not .Values.web.autoscaling.enabled }}
  replicas: {{ .Values.web.replicaCount }}
  {{- end }}
  strategy:
    {{- toYaml .Values.web.strategy | nindent 4 }}
  selector:
    matchLabels:
      {{- include "laravel.web.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include "laravel.envConfigMap" . | sha256sum }}
        checksum/secret: {{ include "laravel.envSecret" . | sha256sum }}
        {{- with .Values.web.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "laravel.web.selectorLabels" . | nindent 8 }}
        {{- with .Values.web.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "laravel.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.web.podSecurityContext | nindent 8 }}
      {{- if or .Values.initContainers.cacheConfig.enabled .Values.initContainers.cacheRoute.enabled .Values.initContainers.cacheView.enabled .Values.initContainers.storageLink.enabled .Values.extraInitContainers }}
      initContainers:
        {{- include "laravel.initContainers" . | nindent 8 }}
      {{- end }}
      containers:
        - name: web
          securityContext:
            {{- toYaml .Values.web.securityContext | nindent 12 }}
          image: {{ include "laravel.image" . }}
          imagePullPolicy: {{ include "laravel.imagePullPolicy" . }}
          ports:
            - name: http
              containerPort: {{ .Values.web.service.targetPort }}
              protocol: TCP
          envFrom:
            {{- include "laravel.envConfigMap" . | nindent 12 }}
            {{- include "laravel.envSecret" . | nindent 12 }}
          {{- with .Values.extraEnvFrom }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.extraEnv }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.web.livenessProbe.enabled }}
          livenessProbe:
            {{- omit .Values.web.livenessProbe "enabled" | toYaml | nindent 12 }}
          {{- end }}
          {{- if .Values.web.readinessProbe.enabled }}
          readinessProbe:
            {{- omit .Values.web.readinessProbe "enabled" | toYaml | nindent 12 }}
          {{- end }}
          {{- if .Values.web.startupProbe.enabled }}
          startupProbe:
            {{- omit .Values.web.startupProbe "enabled" | toYaml | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.web.resources | nindent 12 }}
          {{- if or .Values.tmpfsVolumes.enabled .Values.persistence.enabled .Values.extraVolumeMounts .Values.development.hostPath.enabled }}
          volumeMounts:
            {{- include "laravel.volumeMounts" . | nindent 12 }}
          {{- end }}
        {{- with .Values.sidecars }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- if or .Values.tmpfsVolumes.enabled .Values.persistence.enabled .Values.extraVolumes .Values.development.hostPath.enabled }}
      volumes:
        {{- include "laravel.volumes" . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.web.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
